.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr; /* Adjust the ratio of columns as needed */
  grid-gap: 20px; /* Adjust the gap between columns */
}
html, body, #root .content {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial;
}

.content-container {
  padding: 20px;
  background-color: lightgrey;
}
