.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr; /* Adjust the ratio of columns as needed */
  grid-gap: 20px; /* Adjust the gap between columns */
}

.content-container {
  padding: 20px;
  background-color: lightgrey;
}
