.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr; /* Adjust the ratio of columns as needed */
  grid-gap: 20px; /* Adjust the gap between columns */
}
html, body, #root .content {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial;
}

.content-container {
  padding: 20px;
  background-color: lightgrey;
}
.fileBlock {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.fileBlockName {
  flex: 1
}
.fileList {
  width: 100%;
  max-height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.modalStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  border: 2px solid #000;
  padding: 20px;
  min-width: 10%;
  background-color: white;
}
.modalInput {
  margin: 10px;
}